@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply font-sans bg-gradient-to-b from-white via-slate-50 to-white text-slate-900;
}

a {
  @apply text-primary hover:text-primary-light transition-colors;
}
